@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Acesso negado";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
<link href="~/css/forbidden.css" rel="stylesheet" />

<div class="container">

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>403</h1>
			</div>
			<br />
			<h2>Oops! Você não tem permissão para esse acesso</h2>
			<p>Desculpe, você não tem permissão para acessar a página solicitada. Contacte o administrador do sistema para rever suas permissões e tente novamente.</p>
			<a href="@Url.Action("Index", "Home")">Voltar para o início</a>
		</div>
	</div>

</div>